<p><%= @Player_2.name %> attacked <%= @Player_1.name %><p/>
<a href="/play">OK</a>
<p><%= @Player_2.name%>: <%= @Player_2.hit_points %>HP<p/>
<p><%= @Player_1.name%>: <%= @Player_1.hit_points %>HP<p/>
