<h1 style='margin:auto; text-align:center;'>
  Battle!
</h1>
<h2 style='margin-bottom:10; text-align:center;'>
  <%= @game.player_1.name %> vs. <%= @game.player_2.name %>
</h2>
<p>
  <%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP
  <% if @game.player_2 == @game.active_player %>
  <a href="/attack_player" id="player_1">Attack</a>
  <% end %>
<p/>
<p>
  <%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP
  <% if @game.player_1 == @game.active_player %>
  <a href="/attack_player" id="player_2">Attack</a>
  <% end %>
<p/>
