<!-- the same as: -->
<!-- <form action="/attack">
  <input type="submit" value="Attack">
</form> -->
<p><%= @game.player_1.name %> vs. <%= @game.player_2.name %><p/>
<p>
  <%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP
  <% if @game.player_2 == @game.active_player %>
  <a href="/attack_player" id="player_1">Attack</a>
  <% end %>
<p/>
<p>
  <%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP
  <% if @game.player_1 == @game.active_player %>
  <a href="/attack_player" id="player_2">Attack</a>
  <% end %>
<p/>
