<a href="/attack">Attack</a>
<!-- the same as: -->
<!-- <form action="/attack">
  <input type="submit" value="Attack">
</form> -->
<p><%= @Player_1.name %> vs. <%= @Player_2.name %><p/>
<p><%= @Player_2.name %>: <%= @Player_2.hit_points %>HP<p/>
<p><%= @Player_1.name %>: <%= @Player_1.hit_points %>HP<p/>
